@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("/fonts/fonts.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.PhoneInputInput {
  outline: none;
}

@media (min-width: 3000px) {
  .container_xl {
    width: 60% !important;
    margin: auto !important;
  }
  .ml {
    margin-left: 20% !important;
  }
  .mr {
    margin-right: 20% !important;
  }
  .mr-xl {
    margin-right: 11% !important;
  }
  .hero-h {
    height: 50rem !important;
  }
}
